<ion-header>
  <ion-navbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card *ngFor="let place of places" (click)="gosub(place.id)">
    <img src="{{ place.img }}"/>
    <div class="card-title">{{place.name}}</div>
    <div class="card-subtitle">{{place.likes}} Likes</div>
  </ion-card>

</ion-content>
